<%-include('../partials/css.ejs')%> 


<div class="col-12 col-lg-4 col-xl-3">
    <div class="row gy-4">
      <div class="col-12">
        <div class="card widget-card border-light shadow-sm">
          <div class="card-header text-bg-primary"><%=user.NAME%></div>
          <div class="card-body">
            <div class="text-center mb-3">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSakplnBJbc2jNltElgvAsdRbaMutpE3l53LA&s"
                class="img-fluid"
                alt="Luna John"
              />
            </div>
            <h5 class="text-center mb-1"><%=user.NAME%></h5>
            <p class="text-center text-secondary mb-4">
              ADMIN DASHBOARD
            </p>
            <ul class="list-group list-group-flush mb-4">
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                <h6 class="m-0">Total Job Post</h6>
                <span> 🔰 <%=jobpost.length %> </span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                <h6 class="m-0">Total Users</h6>
                <span> 🔰 <%=jobseeker.length %></span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                <h6 class="m-0"> Job Requests </h6>
                <span>🔰 <%=jobrequest.length %></span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="card widget-card border-light shadow-sm">
          <div class="card-header text-bg-primary">About Me</div>
          <div class="card-body">
            <ul class="list-group list-group-flush mb-0">
              <li class="list-group-item">
                <h6 class="mb-1">
                  <span class="bii bi-mortarboard-fill me-2"></span>
                  Education
                </h6>
                <span>M.S Computer Science</span>
              </li>
              <li class="list-group-item">
                <h6 class="mb-1">
                  <span class="bii bi-geo-alt-fill me-2"></span>
                  Location
                </h6>
                <span>Mountain View, California</span>
              </li>
              <li class="list-group-item">
                <h6 class="mb-1">
                  <span class="bii bi-building-fill-gear me-2"></span>
                  Company
                </h6>
                <span>GitHub Inc </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>